<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/vant@2.10/lib/index.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vant@2.10/lib/vant.min.js"></script>
  </head>
  <body>
    <div id="app">
      <van-list
        v-model="loading"
        :finished="finished"
        finished-text="没有更多了"
        @load="load"
      >
        <van-cell
          v-for="(item, index) in list"
          :key="index"
          :title="item"
        ></van-cell>
      </van-list>
    </div>
    <script>
      const vm = new Vue({
        el: '#app',
        data: {
          list: [],
          loading: false,
          finished: false
        },
        methods: {
          // load () {
          //   setTimeout(() => {
          //     this.list.push(Math.ceil(Math.random() * 999))
          //     this.loading = false
          //   }, 1000)
          // }
          
          load () {
            setTimeout(() => {
              this.list.push(Math.random() * 999)
              this.loading = false
              // 是否加载完成的判断
              if (this.list.length >= 5) {
                this.finished = true
              }
            }, 1000)
          }
        }
      })
    </script>
  </body>
</html>
